@page
@model TestWebsite.Pages.LoginModel

<div class="login-container">
    <h2 class="login-title">Login</h2>
    <form method="post" class="login-form">
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <div class="register-link">
        <p>Don't have an account? <a href="/Register">Create one now!</a></p>
    </div>
</div>
