html {
    position: relative;
    min-height: 100%;
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.section-titles{
    text-align: left;
}

#all-books{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 10px;
}

#bestsellers {
    display: flex;
    justify-content: center; 
    gap: 30px;
}

.book {
    border: 1px solid #ccc;
    padding: 10px;
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.book img {
    width: auto;
    height: 200px; 
    object-fit: contain; 
}

.book h5 {
    margin: 0.5em 0;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
    width: 100%; 
}

.section-container{
    padding-bottom: 50px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.genre-section {
    flex: 1;
    margin-right: 20px; 
    text-align: left; 
}

.genre-section h2 {
    text-align: left;
}

.genre-section #genres {
    text-align: left;
}

.genre-section #genres div {
    text-align: left; 
}


.books-section {
    flex: 3;
    border: 1px solid #ccc; 
    padding: 10px; 
    margin-right: 20px; 
}

#bestsellers a {
    margin: 0;
    padding: 0;
    display: block;
    text-decoration: none;
    color: inherit;
}

a.book:hover, a.book:focus {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

a.book {
    display: block;
    text-decoration: none;
    color: inherit;
}

#bestsellers a.book {
    margin: 0;
    padding: 0;
    display: block;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
    transition: transform 0.3s ease; 
}

#bestsellers a.book:hover, #bestsellers a.book:focus {
    transform: scale(1.05); 
    text-decoration: none; 
}

.navbar .fa-shopping-cart {
    margin-right: 5px;
}

